.jumbotron {
  padding-top: 8rem;
  background-color: #b1eaf4;
}
#contact {
  background-color: #b1eaf4;
}
#language {
  background-color: #b1eaf4;
}

/* language */
.bahasa {
  font-style: italic;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* .bahasa2 {
  float: right;
} */

.bahasa2 a {
  display: grid;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.bahasa2 a:hover {
  background-color: #111;
}

footer {
  background-color: #cfe2ff;
}

section {
  padding-top: 7rem;
}
#comic {
  padding-top: 4rem;
}
svg {
  width: 100%;
  height: auto;
}
h2 {
  font-weight: bold;
}
p {
  font-style: italic;
}
